
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

#root {
}

.highcharts-point {
  transition: opacity 300ms;
}

.highcharts-point-inactive {
  opacity: 0.2;
  transition: opacity 300ms;
}

.container-diagram {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.container-diagram h2 {
  font-size: 18px;
  max-width: 400px;
  text-align: center;
}

.subtitle-text {

}

.subtitle-container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.subtitle-main {
  font-size: 32px;
  font-weight: 900;
  color: #fff;
}


.daddy {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
}